@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";
@theme {
    --color-primary: #1152d4;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
    --font-display: "Inter", ui-sans-serif, system-ui;
}
@custom-variant dark (&:where(.dark, .dark *));
