main {
    gap: 12px;
    display: flex;
    margin: 0 auto;
    max-width: 840px;
    padding: 80px 24px;
    flex-direction: column;
}
main > a {
    color: #afafaf;
    font-size: 13px;
    font-weight: 300;
}
main > span > a {
    text-decoration: underline;
}
