main > #blog > .column-all > .posts {
    gap: 24px;
    display: flex;
    flex-direction: column;
}
main > #blog > .column-all > .posts > .post-item {
    gap: 4px;
    display: flex;
    flex-direction: column;
}
main > #blog > .column-all > .posts > .post-item > h3 > a {
    font-size: 16px;
    font-weight: 400;
}
main > #blog > .column-all > .posts > .post-item > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}
